<section>
    <article style="">
        <div class="uk-container-fluid uk-padding-large"
             style="">
            <div class="uk-width-2-3">
                <h2 class="uk-margin-remove-bottom">Here is all you need for a bedtime story time</h2>
                <h3 class="uk-margin-small-top uk-text-muted">Pakiet produktów wspierających świadome gospodarowanie
                    surowcami
                    na poziomie konsumenta</h3>
            </div>
        </div>
    </article>
</section>
<section>
    <article>
        <div class="uk-padding-large uk-margin-auto" style="max-width: 80%">
            <div class="uk-child-width-1-3@m" uk-grid="masonry: true">
                <div>
                    <div class="uk-card uk-card-default uk-card-hover">
                        <div class="uk-inline">
                            <img src="/assets/books/konik.jpg" alt="">
                            <!--                            <div class="uk-overlay uk-overlay-primary uk-position-bottom app-card-hover">-->
                            <!--                                <p>Ten przesympatyczny konik to Meteor. Pewnego dnia Meteor poznaje przypadkiem stado-->
                            <!--                                    jednorożców i bardzo chce zostać jednym z nich. Czy mu się uda?</p>-->
                            <!--                            </div>-->
                        </div>

                        <div class="uk-card-body">
                            <div class="uk-card-badge uk-label">Nowość</div>
                            <h3 class="uk-card-title">Meteor zostaje jednorożcem</h3>
                            <p class="uk-text-small">Ten przesympatyczny konik to Meteor. Pewnego dnia Meteor poznaje
                                przypadkiem stado
                                jednorożców i bardzo chce zostać jednym z nich. Czy mu się uda?</p>

                            <span class="uk-text-muted">Stage: </span>
                            <span class="uk-text-success">in production</span>
                        </div>
                        <div class="uk-card-footer">
                            <a href="#" class="uk-button uk-button-text">Czytaj opowieść</a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-card-hover">
                        <div class="uk-card-media-top">
                            <img src="/assets/books/pies-max.jpg" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Przygody Maksa</h3>
                            <p>I create zero waste Art & Home Decor brand</p>
                            <span class="uk-text-muted">Stage: </span>
                            <span class="uk-text-success">in development</span>
                        </div>
                        <div class="uk-card-footer">
                            <a href="#" class="uk-button uk-button-text">Read more</a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-card-hover">
                        <div class="uk-card-media-top">
                            <img src="/assets/books/ptaszek.jpg" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Wierszyki</h3>
                            <p>I share my transformation to zero waste in real time</p>
                            <span class="uk-text-muted">Stage: </span>
                            <span class="uk-text-success">in development</span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-card-hover">
                        <div class="uk-card-media-top">
                            <img src="" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Alicja i Norożec</h3>
                            <p>An app based on user location to let people turn waste into useful stuff</p>
                            <span class="uk-text-muted">Stage: </span>
                            <span class="uk-text-success">wireframes</span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-card-hover">
                        <div class="uk-card-media-top">
                            <img src="" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Pingwinek Po i krawat</h3>
                            <p>A project of an app to enable easy share their local to community</p>
                            <span class="uk-text-muted">Stage: </span>
                            <span class="uk-text-success">wireframes</span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-card-hover">
                        <div class="uk-card-media-top">
                            <img src=""
                                 alt="">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Opowieść o białym smoku</h3>
                            <p>The app enables ordinary people to watch and protect wildlife instead of buying pets</p>
                            <span class="uk-text-muted">Stage: </span>
                            <span class="uk-text-success">wireframes</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article id="collaboration">
        <div class="" style="background-color: #FAFAFA;" uk-grid>
            <div class="uk-width-2-3@m uk-padding-large">
                <p class="uk-text-muted uk-margin-large-left uk-text-uppercase">Moje zobowiązanie</p>
                <hr class="uk-margin-large-left" style="width: 100px; border-top: 5px solid #ff7f50;">
                <p class="uk-margin-large-left">
                    Chcę aktywnie redukować ilość wytwarzanych przez ludzi odpadów. W tym celu utworzyłam m.in. tę
                    stronę,
                    na której publikuję opowieści dla dzieci w wersji cyfrowej.
                </p>
                <p class="uk-margin-large-left">
                    Moim celem jest
                    dostarczanie bajek jak najlepszej jakości i tylko cyfrowo, tak, aby zmniejszyć potrzebę kupowania
                    książek tradycyjnych.
                    Publikowane tu treści nie są i nigdy nie będą wydane w wersji papierowej. W zamian pracuję
                    obecnie nad utworzeniem platformy, która pozwalałaby wyświetlać opowieści do czytania w dużo
                    bardziej
                    dynamiczny i wizualny sposób, tak, aby jeszcze bardziej podobały się one dzieciom. Obecnie
                    prezentowana wersja strony
                    jest
                    pierwszym zarysem pomysłu i ulega stałym
                    zmianom. Publikowane treści powstają na bieżąco.
                </p>
            </div>
            <div class="uk-width-1-3@m">
                <img src="/assets/me-black-2.png" class="uk-margin-large-top uk-align-center" alt="" width="250px">
                <p class="uk-text-center uk-margin-remove-bottom uk-text-uppercase">Katarzyna Malec</p>
                <p class="uk-text-small uk-text-center uk-margin-remove-top uk-margin-large-bottom">Autorka</p>
            </div>
        </div>
    </article>
</section>


