<section>
    <div class="uk-padding-large uk-margin-auto" style="max-width: 80%">
        <p class="uk-text-muted uk-text-uppercase uk-margin-remove">Portfolio</p>
        <hr class="" style="width: 100px; border-top: 5px solid #4fe278;">
        <p class="uk-margin-large-bottom">These are products & ideas I currently work on. If you are interested on my
            progress, you may follow the products' pages to keep in touch.</p>
        <div class="uk-child-width-1-3@m" uk-grid="masonry: true">
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="/assets/zero-waste-blog.png" alt="">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">#ZeroWasteChallenge blog</h3>
                        <p>I share my transformation to zero waste in real time</p>
                        <span class="uk-text-muted">Stage: </span>
                        <span class="uk-text-success">in development</span>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="/assets/swapping.png" alt="">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">Local Swapper</h3>
                        <p>An app based on user location to let people turn waste into useful stuff</p>
                        <span class="uk-text-muted">Stage: </span>
                        <span class="uk-text-success">wireframes</span>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="/assets/digital-traveller.png" alt="">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">Digital Traveller Online</h3>
                        <p>A project of an app to enable easy share their local to community</p>
                        <span class="uk-text-muted">Stage: </span>
                        <span class="uk-text-success">wireframes</span>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="/assets/sztukoterapia.jpeg" alt="">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">Sztukoterapia.pl</h3>
                        <p>I share the knowledge how to reduce stress by creating art.</p>
                        <span class="uk-text-muted">Stage: </span>
                        <span class="uk-text-success">in production</span>
                    </div>
                    <div class="uk-card-footer">
                        <a href="#" class="uk-button uk-button-text">Read more</a>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="/assets/wenecja.png" alt="">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">Novador.pl</h3>
                        <p>I create zero waste Art & Home Decor brand</p>
                        <span class="uk-text-muted">Stage: </span>
                        <span class="uk-text-success">in development</span>
                    </div>
                    <div class="uk-card-footer">
                        <a href="#" class="uk-button uk-button-text">Read more</a>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="/assets/closeup-shot-beautiful-bee-eater-bird-perched-tree-branch-blurred-background.jpg"
                             alt="">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">Wild Pets</h3>
                        <p>The app enables ordinary people to watch and protect wildlife instead of buying pets</p>
                        <span class="uk-text-muted">Stage: </span>
                        <span class="uk-text-success">wireframes</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>